@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@100;300;400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #0e1015;
}
