/* .minhalogo {
    width: 433px;
    height: 507px;
    flex-shrink: 0;
  }
   */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@100;300;400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

header {
  display: flex;
  background-color: #0e1015;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin: 32px 100px;
}
.minhalogo {
  height: 64px;
  flex-shrink: 0;
}
ul {
  list-style: none;
  display: flex;
  color: white;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ul li {
  font-size: 20px;
  font-family: "Krona One";
  font-weight: 400;
  text-transform: uppercase;
}

.menu_search {
  display: flex;
  border-radius: 8px;
  background: #1b1d23;
  padding: 16px 32px;
  width: 600px;
  align-items: center;
  gap: 32px;
}
.menu_search input {
  color: #787b81;
  font-size: 20px;
  align-items: center;
  flex-shrink: 0;
  font-weight: 400;
}

#login {
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #d5224e;
  color: #fff;
  cursor: pointer;
  font-family: "Krona One";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
